In [1]:
import pandas as pd
import seaborn as sns

In [7]:
df = pd.read_csv("hiring.csv")
df.describe()
df.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [14]:
df.experience.fillna('zero',inplace=True)

In [15]:
df['test_score(out of 10)'].fillna(int(df['test_score(out of 10)'].median()),inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   experience                  8 non-null      object
 1   test_score(out of 10)       8 non-null      float64
 2   interview_score(out of 10)  8 non-null      int64
 3   salary($)                   8 non-null      int64
dtypes: float64(1), int64(2), object(1)
memory usage: 388.0+ bytes

## installing word to number module

In [20]:
!pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5566 sha256=9af857b4412de27dfb0e240359c18bba2f5f29c18ca4174d6cf7fe088fa2479f
  Stored in directory: /Users/prem/Library/Caches/pip/wheels/cd/ef/ae/073b491b14d25e2efafcffca9e16b2ee6d114ec5c643ba4f06
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [21]:
from word2number import w2n

In [22]:
df.experience = df.experience.apply(w2n.word_to_num)

In [23]:
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [55]:
from sklearn.linear_model import LinearRegression
lin = LinearRegression()

In [56]:
X = df.drop("salary($)",axis=1)
y = df["salary($)"]

In [57]:
y

0    50000
1    45000
2    60000
3    65000
4    70000
5    62000
6    72000
7    80000
Name: salary($), dtype: int64

In [58]:
lin.fit(X,y)

LinearRegression()

In [59]:
lin.predict([[5,6,7]])

/Users/prem/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([58312.95487627])

## another way

In [60]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [61]:
lin.fit(X_train,y_train)

LinearRegression()

In [62]:
X_test

   experience  test_score(out of 10)  interview_score(out of 10)
1           0                    8.0                           6
5           3                    7.0                          10

In [66]:
lin.predict([[2,9,6]])

/Users/prem/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([54866.00795277])

In [68]:
lin.predict([[12,10,10]])

/Users/prem/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([90444.9933727])